# PostgreSQL (Aiven)
# Ambil dari Aiven Postgres: DATABASE_URL seperti:
# postgres://USER:PASSWORD@HOST:PORT/dbname?sslmode=require
DATABASE_URL=

# Opsional (jika pakai mode SSL dengan CA cert)
# DATABASE_CA_CERT adalah isi cert CA dalam bentuk string (raw PEM), biasanya dari Aiven.
DATABASE_CA_CERT=

